<div *ngIf="pokemon" class="pokemon-container">
  <img src="{{pokemon.imageUrl}}" alt="Image of {{ pokemon.name }}" style="display: block; margin: 0 auto;">
  <h2>{{pokemon.name}} </h2>
  <br/>
  <div>
    <span>ID: </span> [{{pokemon.id}}]
  </div>
  <br/>
  <div>
    <span>Name: </span> {{pokemon.name}}
  </div>
  <br/>
  <div>
    <span>Height and Weight: </span> [{{pokemon.height}}] - [{{pokemon.weight}}]
  </div>
  <br/>
  <div>
    <span>Type: </span> {{pokemon.types}}
  </div>
  <br/>
  <div>
    <span>Family: </span> {{pokemon.family}}
  </div>
  <br/>
  <button type="button" (click)="goBack()">GO BACK</button>
</div>