#search-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

label {
    font-size: 20px;
    color: #4d4d4d;
    margin-bottom: 12px;
    font-weight: bold;
}

#search-box {
    padding: 12px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#search-box:focus {
    border-color: #007bff; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    outline: none;
}


#search-box::placeholder {
    transition: color 0.3s ease-in-out;
    color: #999; 
}

#search-box:hover::placeholder,
#search-box:focus::placeholder {
    color: #007bff; 
}
