<h2>Battle Pokemons</h2>

<div class="battle-container">
  <div class="pokemons-menu">
    <div class="pokemon-card" *ngIf="leftPokemon">
      <img src="{{ leftPokemon.imageUrl }}" alt="Logo da Aplicação" class="pokemon-image">
      <span class="pokemon-info">{{ leftPokemon.name }} - HP: {{ leftPokemon.height }}</span>
    </div>

    <div class="vs-card">
      <h1 appHighlight>VS </h1 >
      <button (click)="battle()">Battle</button>
      <div *ngIf="winner" class="winner-info">
        <p>Winner:</p>
        <img src="{{ winner.imageUrl }}" alt="Logo da Aplicação" class="pokemon-image" routerLink="/detail/{{winner.id}}" >
        <span class="pokemon-info">{{ winner.name }}</span>
      </div>
    </div>

    <div class="pokemon-card" *ngIf="rightPokemon">
      <img src="{{ rightPokemon.imageUrl }}" alt="Logo da Aplicação" class="pokemon-image">
      <span class="pokemon-info">{{ rightPokemon.name }} - HP: {{ rightPokemon.height }}</span>
    </div>
  </div>
</div>
