body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .battle-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pokemons-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .pokemon-card,
  .vs-card,
  .winner-info {
    text-align: center;
    font-size: large;
    color: #fff;
    padding: 20px;
    width: 200px;
    background-color: #3498db;
    border: 2px solid #297fb91e; 
    border-radius: 12px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .pokemon-card:hover,
  .vs-card:hover {
    transform: scale(1.1);
  }
  
  button {
    font-size: larger;
    font-style:inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    padding: 30px 46px;
    background-color: #e67e22; 
    color: #000000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #d35400;
  }
  
  .winner-info {
    margin-top: 30px;
    background-color: #efef37; 
    border-color:  #efef37; 
  }
  
  .winner-info img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
 
  .pokemon-card,
  .vs-card,
  .winner-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .battle-container .pokemons-menu .pokemon-card.battling {
    border-color: #f39c12; 
    animation: pulse-border 1s infinite alternate;
  }
  
  @keyframes pulse-border {
    to {
      border-width: 4px;
    }
  }
  